$media-desktop: "only screen and (min-width : 993px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

	@media #{$media-desktop} {
		justify-content: center;
		align-content: center;
		height: 100vh;
	}
}

.stats {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 87%;
  height: 100vh;

	@media #{$media-desktop} {
		flex-direction: row-reverse;
		width: 65%;
		height: 60vh;
	}

  &__img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
    background-image: url("/images/image-header-mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 35%;
    max-width: 100%;

		@media #{$media-desktop} {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0; 
			max-height: 100%;
    	max-width: 100%;
    }
  }

  &__layer {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: hsla(277, 92%, 29%, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

		@media #{$media-desktop} {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
			border-bottom-left-radius: none;
			border-top-left-radius: 0;
    }
  }

  &__textarea {
    background: hsl(244, 38%, 16%);
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    @media #{$media-desktop} {
			border-top-left-radius: 12px;
			border-bottom-right-radius: 0;
			flex-direction: column;
			text-align: left;
			display: flex;
			width:100%;
			align-content: center;
			justify-content: center;
			align-items: center;
			justify-items: center;
    }
  }

  &__header {
    font-weight: 700;
    margin: 12px 25px;
    font-size: 29px;
    color: hsl(0, 0%, 100%);

		@media #{$media-desktop}{
			margin: 12px 40px 12px 70px;
		}
  }

  &__insight {
    color: hsl(277, 64%, 61%);
  }

  &__desc {
    margin: 12px 25px 24px 25px;
    color: hsla(0, 0%, 100%, 0.75);

		@media #{$media-desktop}{
			margin: 12px 40px 12px 70px;
			font-size: 13px;
		}
  }

  &__info {
    color: white;

		@media #{$media-desktop}{
			display: flex;
			margin: 12px 10px 0 0px;
			
		}
  }

  &__cont {
    padding: 0 0 18px 0;

		@media #{$media-desktop}{
			padding: 0 30px 0px 0;

			margin: 12px 0px 0 0;
		}
  }

  &__number {
    font-size: 29px;
    font-weight: 700;
    color: hsla(0, 0%, 100%);
    padding-bottom: 5px;

		@media #{$media-desktop}{
			font-size: 25px;

		}
  }

  &__tag {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 0.6);

		@media #{$media-desktop}{
			font-size: 12px;

		}
  }
}
